name: Conda

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  vcpkgCommitId: '69860f9b4c0522e82fd0d6260015339a097040e0'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10"]
        include:
          - os: windows-latest
            VCPKG_DEFAULT_TRIPLET: "x64-windows-static-md"
            VCPKG_DIR: "D:\\vcpkg"
          - os: macos-latest
            VCPKG_DEFAULT_TRIPLET: "x64-osx"
            VCPKG_DIR: '${{ github.workspace }}/vcpkg'
          - os: ubuntu-latest
            VCPKG_DEFAULT_TRIPLET: "x64-linux"
            VCPKG_DIR: '${{ github.workspace }}/vcpkg'


    runs-on: ${{ matrix.os }}

    # The setup-miniconda action needs this to activate miniconda
    defaults:
      run:
        shell: "bash -l {0}"

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: lukka/get-cmake@latest
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@main
        id: runvcpkg
        with:
          # This specifies the location of vcpkg, where it is going to be restored from cache, or create from scratch.
          vcpkgDirectory: ${{ matrix.VCPKG_DIR }}
          # The Git commit id of vcpkg to be checked out. This is only needed because we are not using a submodule.
          vcpkgGitCommitId: '${{ env.vcpkgCommitId }}'
          # The vcpkg.json file, which will be part of cache key computation.
          vcpkgJsonGlob: '**/libdarknetpy/vcpkg.json'
          doNotCache: false

      - name: Install deps
        run: choco install wget 7zip
        if: matrix.os == 'windows-latest'

      - name: Install deps
        run: brew install yasm nasm pkg-config 7zip wget
        if: matrix.os == 'macos-latest'

      # We also run out of space on ubuntu if we don't do an apt-get clean after installing
      - name: Update apt and install deps
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt-get install -y curl zip unzip tar yasm nasm gperf libgles2-mesa-dev libx11-dev libxft-dev libxext-dev libxrandr-dev libxi-dev libxcursor-dev libxdamage-dev libxinerama-dev libdbus-1-dev libxtst-dev build-essential g++ apt-transport-https ca-certificates gnupg software-properties-common wget zlib1g p7zip-full
          sudo apt-get clean
      - name: Get conda
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict

      # Currently conda-build requires the dead package "toml" but doesn't declare it
      - name: Prepare
        run: conda install conda-build conda-verify pytest toml

      - name: Build
        run: conda build conda.recipe

      - name: Install
        run: conda install -c ${CONDA_PREFIX}/conda-bld/ libdarknetpy

      - name: Test
        run: python -m pytest
